* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  background-color: #eeeeee;
}

header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.header h1 {
  font-size: 1.75rem;
  color: #666666;
  margin: 2rem 1rem;
}

header.header div.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

header.header div.menu select.menu_select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 0 1rem;
  height: 2.25rem;
  background-color: #dddddd;
  border: none;
  border-radius: 0.25rem;
  padding: 0 0 0 0.75rem;
}

@media screen and (min-width: 576px) {
  header.header div.menu {
    margin: 0 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
  }
  header.header div.menu select.menu_select {
    background-color: #eeeeee;
    max-width: 380px;
  }
}

main.cards {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 576px) {
  main.cards {
    gap: 1rem;
  }
}

@media screen and (min-width: 576px) {
  main.cards {
    gap: 1rem 3%;
  }
}

@media screen and (min-width: 992px) {
  main.cards {
    gap: 1rem 2%;
  }
}

div.card {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 200px;
  min-height: 160px;
}

div.card img {
  width: 100%;
  position: absolute;
  z-index: -10;
}

div.card div.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

div.card span {
  padding: 3px 5px;
  background-color: #dd8f00;
  color: #ffffff;
  font-size: 0.75rem;
}

div.card div.card_body {
  padding: 0.75rem;
  z-index: 10;
  color: #dddddd;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: translate(0, 4.25rem);
          transform: translate(0, 4.25rem);
}

div.card div.card_body em,
div.card div.card_body p {
  font-size: 0.875rem;
}

div.card div.card_body h3 {
  font-size: 1rem;
}

div.card div.card_body hr {
  border: none;
  border-top: 3px solid #ffffff;
  margin: 0.75rem 0;
  width: 50px;
}

div.card div.card_body p.card_text {
  height: 2.5rem;
  overflow: hidden;
}

div.card:hover img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

div.card:hover div.card_body {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

div.card:hover div.card_body h3,
div.card:hover div.card_body p {
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  div.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 45vw;
  }
}

@media screen and (min-width: 576px) {
  div.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.5%;
            flex: 0 1 48.5%;
    height: 25vw;
  }
}

@media screen and (min-width: 992px) {
  div.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    height: 15vw;
  }
}

div.loadingImage {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 1rem;
}

footer.footer {
  text-align: center;
  color: #666666;
  margin: 1rem;
}

footer.footer a {
  color: #000;
}
/*# sourceMappingURL=style.css.map */