* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// a {
//   text-decoration: none;
// }

// Variables
$orange: #dd8f00;
$white: #ffffff;
$dark_gray: #666666;
$gray: #dddddd;
$light_gray: #eeeeee;

$primary: $orange;
$light: $white;
$bg_color: $light_gray;

// styles

body {
  background-color: $light_gray;
}

@import "_header";
@import "_cards";
@import "_card";
@import "_loadingImage";
@import "_footer";
