* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

// Variables
$orange: #dd8f00;
$white: #ffffff;
$dark_gray: #666666;
$gray: #dddddd;
$light_gray: #eeeeee;

$primary: $orange;
$light: $white;
$bg_color: $light_gray;

body {
  background-color: $light_gray;
}

@import "_header";
@import "_cards";
@import "_card";
